version: '3.1'

services:

  server:
    build: ./services/server
    volumes: 
      - ../:/app/
      - ./services/server/php.ini:/opt/docker/etc/php/php.ini
      - ${SSH_PATH}:/root/.ssh/
    expose:
      - "9000"
    environment:
      - PHP_DISPLAY_ERRORS=1
      - PHP_DEBUGGER=xdebug
      - WEB_DOCUMENT_ROOT=/app
      - XDEBUG_REMOTE_HOST=${XDEBUG_REMOTE_HOST}
      - XDEBUG_REMOTE_PORT=${XDEBUG_REMOTE_PORT}